/*收藏页*/
body {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, STHeiTi, sans-serif;
}
[v-cloak] {
  display: none;
}
.wrapper {
  width: 100%;
  min-width: 1090px;
}
.container {
  position: relative;
  background: #f6f6f6;
}
.select-lottery {
  display: none;
}
.mainArea {
  margin: 20px auto 0;
  width: 1090px;
  position: relative;
}
.mainArea .lcbox {
  background: #fffcf5 none repeat scroll 0 0;
}
.lcbox .lctit {
  border-bottom: 2px solid #ee6b13;
}
.lcbox .lctit .jingcai {
  background: rgba(0, 0, 0, 0) url("../../images/unit_hover.jpg") repeat-x scroll 0 0;
  display: block;
  height: 36px;
  position: relative;
  border-radius: 7px 7px 0 0;
  top: 2px;
  width: 116px;
}
.lcbox h2 {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 10px;
  line-height: 36px;
  text-align: center;
  text-indent: 10px;
}
.lcbox .lcmain {
  padding: 10px 0 20px;
}
.lcmain .lot_ul > li {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  display: inline;
  float: left;
  margin: 10px 5px 0;
  width: 251px;
  border-radius: 7px;
}
.lcmain .lot_ul li img {
  float: left;
}
.lcmain .lot_ul li .info {
  float: left;
  width: 60%;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.lcmain .lot_ul li .info h3 {
  font-size: 20px;
}
.lcmain .lot_ul li .info h3 a {
  color: #666;
}
.lcmain .lot_ul li .info h3 a:hover {
  color: #ee6b13;
  text-decoration: none;
}
.lcmain .lot_ul li .info > span {
  color: #777;
  line-height: 25px;
  padding: 0 10px;
  display: inline-block;
  font-size: 14px;
}
.show-gd1 ul {
  display: inline-block;
  color: #fff;
}
.clear {
  clear: both;
}
.lcmain .lot_ul li .btnbox {
  height: 40px;
  overflow: hidden;
  margin-left: 20px;
}
.lcmain .lot_ul li .btnbox_top {
  height: 100px;
}
.lcmain .lot_ul li .btnbox a {
  background: #e9e9e9;
  color: #333;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 14px;
  line-height: 30px;
  margin: 0 15px 0 0;
  text-align: center;
  width: 80px;
  border-radius: 20px;
}
.lcmain .lot_ul li .btnbox a:hover {
  opacity: 0.8;
}
.lcmain .lot_ul li .btnbox .buybtn {
  background-color: red;
  color: #ffffff;
  margin-right: -5px;
}
.lot-fore {
  height: 40px;
}
.lot-fore .fl {
  float: left ;
  margin-left: 10px;
}
.show-gd1 {
  float: left;
  padding-top: 10px;
  margin-right: -15px;
  text-align: center;
  width: 231px;
}
.show-gd1 li {
  border-radius: 50%;
  float: left;
  height: 19px;
  line-height: 19px;
  margin: 0 1px !important;
  text-align: center;
  width: 19px;
}
.show-gd1 .big_ball li {
  font-size: 13px;
  height: 21px !important;
  line-height: 19px !important;
  width: 21px !important;
  color: #ffffff;
}
.show-gd1 li {
  background: red;
}
.show-gd1 li.gray {
  background: #a3a3a3;
}
.show-gd1 li.green {
  background: #38be4f;
}
.show-gd1 li.blue {
  background: #0e86e3;
}
.show-gd1 li.red {
  background: red;
}
.show-gd1 li.white {
  background: #fff;
  color: red;
}
.gct_time {
  background: #e1e1e1 none repeat scroll 0 0;
  color: #666;
}
.gct_time {
  border-radius: 3px;
  display: inline-block;
  font-size: 16px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  margin-left: 10px;
}
.tabulousclear {
  display: inline-block;
  line-height: 23px;
}
.gct_time_now_l .leaveh-2 {
  font-size: 12px !important;
  color: #666;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.lcbox li img {
  width: 80px;
  height: 80px;
  margin: 10px 0 0 12px;
}
/*# sourceMappingURL=collect.css.map */