<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{i18n.t('返点详情')}}</title>
  <script src="../public/js/base.js"></script>
</head>

<body>
	<script src="../public/js/header.js"></script>
  <div id="agencyRebateList" class="proxy">
    <section id="main">
      <div id="mainBody" class="wrapper">
        <div id="mainContent" class="clearfix">
          <nav class="left">
            <div class="gameNameList">
              <span v-for="(item,index) in allGameID" @click="getBetsType($event,item)" :class="index==0?'active':''">{{item.show_name}}</span>
            </div>
          </nav>
          <div class="right">
            <div class="title">{{i18n.t('返点详情')}}</div>
            <div class="wrapper">
              <div class="codeName">
                <ul>
                  <li>
                    <i>{{i18n.t('玩法')}}</i>
                    <span></span>
                    <em>{{i18n.t('返点')}}</em>
                  </li>
                  <li v-for="item in gameItemList">{{item}}</li>
                </ul>
              </div>

              <div class="rebateContent">
                <div class="rebateList">
                  <ul v-for="items in rebateItemList">
                    <li v-for="item in items">{{item}}</li>
                  </ul>
                </div>
              </div>

            </div>
           

          </div>
        </div>
      </div>
    </section>


  

  </div>

<script src="../public/js/footer.js"></script>
  <script type="text/javascript" src="../public/js/jqPaginator.js"></script>
  <script type="text/javascript" src="js/agencyRebateList.js"></script>
</body>

</html>