<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>交易明细</title>
    <script src="../public/js/base.js"></script>
</head>
<body>
	<script src="../public/js/header.js"></script>
<div id="agentDealDetail" class="proxy">
    <section id="main">
        <div id="mainBody" class="wrapper">
            <div id="mainContent" class="clearfix">
                <nav class="left">
                        <div class="member">
                            <ul>
                                <blockquote class="layui-elem-quote"><span class="iconfont">&#xe643;</span>{{i18n.t('会员中心')}}</blockquote>
                                <li>
                                    <a href="/myCenter/member.html">{{i18n.t('会员中心')}}</a>
                                </li>
                                <li>
                                    <a href="/myCenter/betrecord.html">{{i18n.t('投注记录')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/lotteryrecord.html">{{i18n.t('中奖记录')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/accountDetails.html">{{i18n.t('账号明细')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/userInfo.html">{{i18n.t('账号信息')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/recharge.html">{{i18n.t('充值')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li v-if="agencyType!=6">
                                    <a href="/myCenter/draw.html">{{i18n.t('提款')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/message.html">{{i18n.t('消息中心')}}</a>
                                    <div class="hr"></div>
                                </li>
                    
                            </ul>
                        </div>
                        <div class="agency" v-if="agencyType==1" v-cloak>
                            <ul>
                                <blockquote class="layui-elem-quote"><span class="iconfont">&#xe65a;</span>{{i18n.t('代理中心')}}</blockquote>
                                <li>
                                    <a href="/agency/agentIntro.html">{{i18n.t('代理说明')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agentReport.html">{{i18n.t('代理报表')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/lowerReport.html">{{i18n.t('下级报表')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/downAccount.html">{{i18n.t('下级开户')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agentMember.html">{{i18n.t('会员管理')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agencyBetDetail.html">{{i18n.t('投注说明')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li class="on">
                                    <a href="/agency/agencyDealDetail.html">{{i18n.t('交易明细')}}</a>
                                    <div class="hr"></div>
                                </li>
                            </ul>
                        </div>
                    
                    </nav>
                <div class="right">
                    <div class="title">{{i18n.t('交易明细')}}</div>
                    <div id="agentBet" class="proxy_main">
                        <div class="edit">
                            <div id="timeType" class="newTab">
                                <a href="javascript:;" class="curr" @click="changeType(currSearchType=0)">{{i18n.t('今天')}}</a>
                                <a href="javascript:;" @click="changeType(currSearchType=1)">{{i18n.t('昨天')}}</a>
                                <a href="javascript:;" @click="changeType(currSearchType=2)">{{i18n.t('近七天')}}</a>
                            </div>
                            <div class="search">
                                <span>
                                    {{i18n.t('类型')}} :
                                    <a href="javascript:" :class="status==0?'active':''" @click="changeStatus(0)">{{i18n.t('账户明细')}}</a>
                                    <a href="javascript:" :class="status==2?'active':''" @click="changeStatus(2)">{{i18n.t('提现记录')}}</a>
                                    <a href="javascript:" :class="status==1?'active':''" @click="changeStatus(1)">{{i18n.t('充值记录')}}</a>
                                </span>
                                &nbsp;&nbsp;&nbsp;
                                <span v-if="status==1||status==2">
                                    {{i18n.t('状态')}}:
                                    <select style="min-height: 25px;"  v-model="val">
                                        <option value="">{{i18n.t('所有状态')}}</option>
                                        <option   v-for="(item,index) in stateOpt" :value="index+1">{{item}}</option>
                                    </select>
                                </span>
                                &nbsp;&nbsp;&nbsp;
                                <span>{{i18n.t('账号')}} : </span>
                                <input type="text" placeholder="下级投注查询" v-model="lowerUserName" />
                                <a v-show='status ==0 ' class="submitBtn ClickShade" @click="getdatas">{{i18n.t('搜索')}}</a>
                                <a v-show='status ==1||status ==2 ' class="submitBtn ClickShade" @click="getDrawdatas(status)">{{i18n.t('搜索')}}</a>
                            </div>
                            <div class="searchDetail">
                                <table v-if="status==0">
                                <tr>
                                    <th>{{i18n.t('账号')}}</th>
                                    <th>{{i18n.t('时间')}}</th>
                                    <th>{{i18n.t('交易类型')}}</th>
                                    <th>{{i18n.t('变动前金额')}}</th>
                                    <th>{{i18n.t('变动后金额')}}</th>
                                    <!--<th>{{i18n.t('可用余额')}}</th>-->
                                    <th>{{i18n.t('备注')}}</th>
                                </tr>
                                <tr v-if="recordData.length!==0"  v-for="item in recordData">
                                    <td v-cloak>{{item.user_name?item.user_name:'沙发客'}}</td>
                                    <td v-cloak>{{item.sourceTime}}</td>
                                    <td v-cloak>{{item.coinOperate}}</td>
                                    <td v-cloak>{{item.coinBefore}}</td>
                                    <td v-cloak>{{item.coinAfter}}</td>
                                    <td v-cloak>{{item.info}}</td>
                                </tr>
                                <tr v-if="!recordData||recordData.length==0">
                                    <td colspan="6">{{i18n.t('暂无数据')}}</td>
                                </tr>
                            </table>
                                <!--充值-->
                                <table v-if="status==1">
                                    <tr>
                                        <th>{{i18n.t('账号')}}</th>
                                        <th>{{i18n.t('交易类别')}}</th>
                                        <th>{{i18n.t('支付名称')}}</th>
                                        <th>{{i18n.t('交易额度')}}</th>
                                        <th>{{i18n.t('状态')}}</th>
                                        <th>{{i18n.t('说明')}}</th>
                                        <th>{{i18n.t('订单号')}}</th>
                                    </tr>
                                    <tr v-if="DepOrDraw.length!==0"  v-for="item in DepOrDraw">
                                        <td>{{item.user_name?item.user_name:'沙发客'}}</td>
                                        <td>{{item.tradeType==1?"在线存款":(item.tradeType==2?"快速入款":(item.tradeType==3?"一般存款":"--"))}}</td>
                                        <td>{{item.pay_type==1?"支付宝":(item.pay_type==2?"微信":"银行卡")}}</td>
                                        <td>{{item.amount}}</td>
                                        <td>{{item.state}}</td>
                                        <td>{{item.info}}</td>
                                        <td>{{item.order_id}}</td>
                                    </tr>
                                    <tr v-if="DepOrDraw.length==0">
                                        <td colspan="5">{{i18n.t('暂无数据')}}</td>
                                    </tr>
                                </table>
                                <!--提现-->
                                <table v-if="status==2">
                                    <tr>
                                        <th>{{i18n.t('账号')}}</th>
                                        <th>{{i18n.t('交易类别')}}</th>
                                        <th>{{i18n.t('交易额度')}}</th>
                                        <th>{{i18n.t('状态')}}</th>
                                        <th>{{i18n.t('说明')}}</th>
                                    </tr>
                                    <tr v-if="DepOrDraw.length!==0"  v-for="item in DepOrDraw">
                                        <td>{{item.user_name}}</td>
                                        <td>{{item.tradeType==0?"在线取款":(item.tradeType=1?"快速取款":"一般取款")}}</td>
                                        <td>{{item.amount}}</td>
                                        <td>{{item.state}}</td>
                                        <td>{{item.info}}</td>
                                    </tr>
                                    <tr v-if="DepOrDraw.length==0">
                                        <td colspan="5">{{i18n.t('暂无数据')}}</td>
                                    </tr>
                                </table>

                                <div id="fenye"></div>

                            </div>
                            <div class="pl_tips">
                                <p>
                                    <i></i>
                                    {{i18n.t('温馨提示')}}：{{i18n.t('交易明细非即时显示')}}，{{i18n.t('可能有')}}5-10{{i18n.t('分钟的延迟')}}，{{i18n.t('请稍等片刻')}}。<br/>　　　　　{{i18n.t('交易明细最多保留')}}7天。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>
<script src="../public/js/footer.js"></script>
<script type="text/javascript" src="../public/js/jqPaginator.js"></script>
<script type="text/javascript" src="js/agencyDealDetail.js"></script>
</body>
</html>