<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>下级报表</title>
    <script src="../public/js/base.js"></script>
</head>
<body>
	<script src="../public/js/header.js"></script>
<div id="lowerReport" class="proxy">
    <section id="main">
        <div id="mainBody" class="wrapper">
            <div id="mainContent" class="clearfix">
                <nav class="left">
                        <div class="member">
                            <ul>
                                <blockquote class="layui-elem-quote"><span class="iconfont">&#xe643;</span>会员中心</blockquote>
                                <li>
                                    <a href="/myCenter/member.html">会员中心</a>
                                </li>
                                <li>
                                    <a href="/myCenter/betrecord.html">投注记录</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/lotteryrecord.html">中奖记录</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/accountDetails.html">账号明细</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/userInfo.html">账号信息</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/recharge.html">充值</a>
                                    <div class="hr"></div>
                                </li>
                                <li v-if="agencyType!=6">
                                    <a href="/myCenter/draw.html">提款</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/message.html">消息中心</a>
                                    <div class="hr"></div>
                                </li>
                    
                            </ul>
                        </div>
                        <div class="agency" v-if="agencyType==1" v-cloak>
                            <ul>
                                <blockquote class="layui-elem-quote"><span class="iconfont">&#xe65a;</span>代理中心</blockquote>
                                <li>
                                    <a href="/agency/agentIntro.html">代理说明</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agentReport.html">代理报表</a>
                                    <div class="hr"></div>
                                </li>
                                <li class="on">
                                    <a href="/agency/lowerReport.html">下级报表</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/downAccount.html">下级开户</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agentMember.html">会员管理</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agencyBetDetail.html">投注说明</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agencyDealDetail.html">交易明细</a>
                                    <div class="hr"></div>
                                </li>
                            </ul>
                        </div>
                    
                    </nav>
                <div class="right">
                    <div class="title">下级报表</div>
                    <div id="proxy_indexPage" class="proxy_main">
                        <div class="edit">
                            <div id="timeType" class="newTab">
                                <a href="javascript:;" class="curr" @click="changeType(currSearchType=1)">今天</a>
                                <a href="javascript:;" @click="changeType(currSearchType=2)">昨天</a>
                                <a href="javascript:;" @click="changeType(currSearchType='')">近七天</a>
                                <a href="javascript:;" @click="changeType(currSearchType=3)">本月</a>
                                <a href="javascript:;" @click="changeType(currSearchType=4)">上月</a>
                            </div>
                            <div class="searchDetail">
                                <table>
                                    <tr>
                                        <th>账号</th>
                                        <th>用户类型</th>
                                        <th>投注金额</th>
                                        <th>中奖金额</th>
                                        <th>投注返利</th>
                                        <th>返点金额</th>
                                        <th>活动礼金</th>
                                        <th>投注人数</th>
                                        <th>盈利</th>
                                    </tr>
                                    <!--<tr>-->
                                        <!--<td colspan="8">-->
                                            <!--<i class="iconfont"></i>-->
                                            <!--暂无数据-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <tr v-for="(item,index) in lowerDatas">
                                        <td v-cloak>{{item.user_name}}</td>
                                        <td v-cloak>{{item.level}}级{{item.user_type==1?'代理':'玩家'}}</td>
                                        <td v-cloak>{{item.betAmount}} {{coinUnit}}</td>
                                        <td v-cloak>{{item.bonusAmount}}{{coinUnit}}</td>
                                        <td v-cloak>{{item.betRebate}}{{coinUnit}}</td>
                                        <td v-cloak>{{item.rebateAmount}} {{coinUnit}}</td>
                                        <td v-cloak>{{item.activeAmount}} {{coinUnit}}</td>
                                        <td v-cloak>{{item.betCount}}</td>
                                        <td v-cloak>{{item.profit}}{{coinUnit}}</td>

                                    </tr>
                                     <tr v-if="!lowerDatas||lowerDatas.length==0" v-cloak><td colspan="6">暂无数据</td></tr>
                                </table>
                                <div id="fenye"></div>
                            </div>
                            <div class="pl_tips">
                                <p>
                                    <i></i>
                                    温馨提示：下级报表非即时统计，可能有5-10分钟的延迟，请稍等片刻。
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    
</div>
<script src="../public/js/footer.js"></script>
<script type="text/javascript" src="../public/js/jqPaginator.js"></script>
<script type="text/javascript" src="js/lowerReport.js"></script>
</body>
</html>