<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{i18n.t('下级报表')}}</title>
    <script src="../public/js/base.js"></script>
</head>
<body>
	<script src="../public/js/header.js"></script>
<div id="lowerReport" class="proxy">
    <section id="main">
        <div id="mainBody" class="wrapper">
            <div id="mainContent" class="clearfix">
                <nav class="left">
                        <div class="member">
                            <ul>
                                <blockquote class="layui-elem-quote"><span class="iconfont">&#xe643;</span>{{i18n.t('会员中心')}}</blockquote>
                                <li>
                                    <a href="/myCenter/member.html">{{i18n.t('会员中心')}}</a>
                                </li>
                                <li>
                                    <a href="/myCenter/betrecord.html">{{i18n.t('投注记录')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/lotteryrecord.html">{{i18n.t('中奖记录')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/accountDetails.html">{{i18n.t('账号明细')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/userInfo.html">{{i18n.t('账号信息')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/recharge.html">{{i18n.t('充值')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li v-if="agencyType!=6">
                                    <a href="/myCenter/draw.html">{{i18n.t('提款')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/message.html">{{i18n.t('消息中心')}}</a>
                                    <div class="hr"></div>
                                </li>
                    
                            </ul>
                        </div>
                        <div class="agency" v-if="agencyType==1" v-cloak>
                            <ul>
                                <blockquote class="layui-elem-quote"><span class="iconfont">&#xe65a;</span>{{i18n.t('代理中心')}}</blockquote>
                                <li>
                                    <a href="/agency/agentIntro.html">{{i18n.t('代理说明')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agentReport.html">{{i18n.t('代理报表')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li class="on">
                                    <a href="/agency/lowerReport.html">{{i18n.t('下级报表')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/downAccount.html">{{i18n.t('下级开户')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agentMember.html">{{i18n.t('会员管理')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agencyBetDetail.html">{{i18n.t('投注说明')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agencyDealDetail.html">{{i18n.t('交易明细')}}</a>
                                    <div class="hr"></div>
                                </li>
                            </ul>
                        </div>
                    
                    </nav>
                <div class="right">
                    <div class="title">{{i18n.t('下级报表')}}</div>
                    <div id="proxy_indexPage" class="proxy_main">
                        <div class="edit">
                            <div id="timeType" class="newTab">
                                <a href="javascript:;" class="curr" @click="changeType(currSearchType=1)">{{i18n.t('今天')}}</a>
                                <a href="javascript:;" @click="changeType(currSearchType=2)">{{i18n.t('昨天')}}</a>
                                <a href="javascript:;" @click="changeType(currSearchType='')">{{i18n.t('近七天')}}</a>
                                <a href="javascript:;" @click="changeType(currSearchType=3)">{{i18n.t('本月')}}</a>
                                <a href="javascript:;" @click="changeType(currSearchType=4)">{{i18n.t('上月')}}</a>
                            </div>
                            <div class="searchDetail">
                                <table>
                                    <tr>
                                        <th>{{i18n.t('账号')}}</th>
                                        <th>{{i18n.t('用户类型')}}</th>
                                        <th>{{i18n.t('投注金额')}}</th>
                                        <th>{{i18n.t('中奖金额')}}</th>
                                        <th>{{i18n.t('投注返利')}}</th>
                                        <th>{{i18n.t('返点金额')}}</th>
                                        <th>{{i18n.t('活动礼金')}}</th>
                                        <th>{{i18n.t('投注人数')}}</th>
                                        <th>{{i18n.t('盈利')}}</th>
                                    </tr>
                                    <!--<tr>-->
                                        <!--<td colspan="8">-->
                                            <!--<i class="iconfont"></i>-->
                                            <!--暂无数据-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <tr v-for="(item,index) in lowerDatas">
                                        <td v-cloak>{{item.user_name}}</td>
                                        <td v-cloak>{{item.level}}级{{item.user_type==1?'代理':'玩家'}}</td>
                                        <td v-cloak>{{item.betAmount}} {{coinUnit}}</td>
                                        <td v-cloak>{{item.bonusAmount}}{{coinUnit}}</td>
                                        <td v-cloak>{{item.betRebate}}{{coinUnit}}</td>
                                        <td v-cloak>{{item.rebateAmount}} {{coinUnit}}</td>
                                        <td v-cloak>{{item.activeAmount}} {{coinUnit}}</td>
                                        <td v-cloak>{{item.betCount}}</td>
                                        <td v-cloak>{{item.profit}}{{coinUnit}}</td>

                                    </tr>
                                     <tr v-if="!lowerDatas||lowerDatas.length==0" v-cloak><td colspan="6">{{i18n.t('暂无数据')}}</td></tr>
                                </table>
                                <div id="fenye"></div>
                            </div>
                            <div class="pl_tips">
                                <p>
                                    <i></i>
                                    温馨提示：下级报表非即时统计，可能有5-10分钟的延迟，请稍等片刻。
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    
</div>
<script src="../public/js/footer.js"></script>
<script type="text/javascript" src="../public/js/jqPaginator.js"></script>
<script type="text/javascript" src="js/lowerReport.js"></script>
</body>
</html>