<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>帐号明细</title>
    <link rel="stylesheet" type="text/css" href="css/betrecord.css"/>
    <script src="../public/js/base.js"></script>
</head>

<body>
<div>
    <script src="../public/js/header.js"></script>
    <section id="main">
        <div class="wrapper">
            <div id="mainContent" class="clearfix">
                <!--左边导航-->
                <nav class="left">
                        <div class="member">
                            <ul>
                                <blockquote class="layui-elem-quote"><span class="iconfont">&#xe643;</span>{{i18n.t('会员中心')}}</blockquote>
                                <li>
                                    <a href="/myCenter/member.html">{{i18n.t('会员中心')}}</a>
                                </li>
                                <li>
                                    <a href="/myCenter/betrecord.html">{{i18n.t('投注记录')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/lotteryrecord.html">{{i18n.t('中奖记录')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li class="on">
                                    <a href="/myCenter/accountDetails.html">{{i18n.t('账变明细')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/userInfo.html">{{i18n.t('账号信息')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/recharge.html">{{i18n.t('充值')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li v-if="agencyType!=6">
                                    <a href="/myCenter/draw.html">{{i18n.t('提款')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/message.html">{{i18n.t('消息中心')}}</a>
                                    <div class="hr"></div>
                                </li>
                    
                            </ul>
                        </div>
                        <div class="agency" v-if="agencyType==1" v-cloak>
                            <ul>
                                <blockquote class="layui-elem-quote"><span class="iconfont">&#xe65a;</span>{{i18n.t('代理中心')}}</blockquote>
                                <li>
                                    <a href="/agency/agentIntro.html">{{i18n.t('代理说明')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agentReport.html">{{i18n.t('代理报表')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/lowerReport.html">{{i18n.t('下级报表')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/downAccount.html">{{i18n.t('下级开户')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agentMember.html">{{i18n.t('会员管理')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agencyBetDetail.html">{{i18n.t('投注记录')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agencyDealDetail.html">{{i18n.t('交易明细')}}</a>
                                    <div class="hr"></div>
                                </li>
                            </ul>
                        </div>
                    
                    </nav>
                <!--右边主体内容-->
                <div class="right">
                    <!--顶部用户信息-->
                    <div id="top">
                        <div>
                            <div class="welcome">{{i18n.t('您好')}}：<strong class="userName red"
                                                            id="userName"> </strong>&nbsp;{{i18n.t('账号余额')}}：<span
                                    class="red coin" id="coin11">0.00</span>{{coinUnit}}<span class="btn recharge"><a
                                    href="recharge.html">{{i18n.t('充值')}}</a></span><span class="btn withdrawal" v-if="agencyType!=6"><a
                                    href="draw.html">{{i18n.t('提款')}}</a></span></div>
                            <!--账号总览-->
                            <div class="memberMsg ">
                                <div class="title">
                                    <div><strong>{{i18n.t('账户总览')}}</strong></div>
                                </div>
                                <div class="content">
                                    <ul class="clearfix" v-cloak>
                                        <li class="xz_Coin">{{i18n.t('充值总额')}}: <span class="red" v-cloak>{{coinAvg.depositAmount || 0}}</span>{{coinUnit}}</li>
                                        <li class="lottery_Coin">{{i18n.t('提款总额')}}: <span class="red" v-cloak>{{coinAvg.withdrawAmount || 0}}</span>{{coinUnit}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="detail_explain">
                            </div>
                            <nav class="topNav"><span class="active" id="choose_0" data-index="0"
                                                      @click="choose_nav(0)">{{i18n.t('充值记录')}}</span><span
                                    data-index="1" id="choose_1" @click="choose_nav(1)">{{i18n.t('取款记录')}}</span><span data-index="2"
                                                                                                         id="choose_2"
                                                                                                         @click="choose_nav(2)">{{i18n.t('账变记录')}}</span>
                            </nav>
                            <section id="record">
                                <div id="show_0">
                                    <div class="condition row">
                                        <div class="allType col">
                                        <span id="allType" class="type" @click="openType($event,1)"
                                              @mouseout="openType($event,3)" v-cloak>{{typeContent}}<b></b></span>
                                            <ul class="typeContent hide" @mouseover="hoverTypeUl($event,1)"
                                                @mouseout="hoverTypeUl($event,2)">
                                                <li v-for="(item,index) in allTypeContent" :value="index"
                                                    @click="getCondition(0,index,$event)" v-cloak>{{item}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="allState col">
                                        <span id="allState" class="type" @click="openType($event,1)"
                                              @mouseout="openType($event,3)" v-cloak>{{stateContent}}<b></b></span>
                                            <ul class="typeContent hide" @mouseover="hoverTypeUl($event,1)"
                                                @mouseout="hoverTypeUl($event,2)">
                                                <li v-for="(item,index) in allStateContent" :value="index"
                                                    @click="getCondition(1,index,$event)" v-cloak>{{item}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                        <span id="changeDate" class="type" @click="openType($event,1)"
                                              @mouseout="openType($event,3)" v-cloak>{{dateContent}}<b></b></span>
                                            <ul class="typeContent hide" @mouseover="hoverTypeUl($event,1)"
                                                @mouseout="hoverTypeUl($event,2)">
                                                <li v-for="(item,index) in changeDateContent" :value="index"
                                                    @click="getCondition(2,index,$event)" v-cloak>{{item}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col" id="time" v-cloak>
                                            <span class="btn" id="select" @click="getdatas(1)">{{i18n.t('查询')}}</span>
                                        </div>
                                    </div>
                                    <div class="mainList">
                                        <table class="layui-table" lay-even="" lay-skin="nob" style="border: none;"
                                               width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <thead>
                                            <tr class="title">
                                                <td>{{i18n.t('日期')}}</td>
                                                <td>{{i18n.t('交易类别')}}</td>
                                                <td>{{i18n.t('支付名称')}}</td>
                                                <td>{{i18n.t('交易额度')}}</td>
                                                <td>{{i18n.t('状态')}}</td>
                                                <td>{{i18n.t('说明')}}</td>
                                                <td>{{i18n.t('订单号')}}</td>
                                            </tr>
                                            </thead>
                                            <tbody class="betResultOrder" v-cloak>
                                            <tr>
                                                <td colspan="10" class="nodate" height="150">{{i18n.t('暂无数据')}}</td>
                                            </tr>
                                            </tbody>
                                            <tbody class="showBetRecord">
                                            <tr v-for="item in arrs" v-cloak>
                                                <td v-cloak>{{item.applyTime}}</td>
                                                <td v-cloak>{{item.tradeType==2?"在线存款":(item.tradeType==1?"快速入款":(item.tradeType==3?"一般存款":"--"))}}</td>
                                                <td v-cloak>{{item.payType?(item.payType==2?"四大超商":"实体ATM"):'--'}}</td>
                                                <td v-cloak>{{item.amount}}{{coinUnit}}</td>
                                                <td v-cloak>
                                                    {{item.state==1?'未处理':(item.state==2?'处理中':(item.state==3?'成功到帐':(item.state==5?'充值失败':'--')))}}
                                                </td>
                                                <td style="width: 12%;" v-cloak>{{item.info}}</td>
                                                <td v-cloak>{{item.orderId}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="show_1">
                                    <div class="condition row">
                                        <div class="allState col">
                                        <span id="allState" class="type" @click="openType($event,1)"
                                              @mouseout="openType($event,3)" v-cloak>{{stateContent}}<b></b></span>
                                            <ul class="typeContent hide" @mouseover="hoverTypeUl($event,1)"
                                                @mouseout="hoverTypeUl($event,2)">
                                                <li v-for="(item,index) in allStateContent" :value="index"
                                                    @click="getCondition(1,index,$event)" v-cloak>{{item}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                        <span id="changeDate" class="type" @click="openType($event,1)"
                                              @mouseout="openType($event,3)" v-cloak>{{dateContent}}<b></b></span>
                                            <ul class="typeContent hide" @mouseover="hoverTypeUl($event,1)"
                                                @mouseout="hoverTypeUl($event,2)">
                                                <li v-for="(item,index) in changeDateContent" :value="index"
                                                    @click="getCondition(2,index,$event)" v-cloak>{{item}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col" id="time" v-cloak>
                                            <span class="btn" id="select" @click="getDrawdatas(1)">{{i18n.t('查询')}}</span>
                                        </div>
                                    </div>
                                    <div class="mainList">
                                        <table class="layui-table" lay-even="" lay-skin="nob" style="border: none;"
                                               width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <thead>
                                            <tr class="title">
                                                <td>{{i18n.t('日期')}}</td>
                                                <td>{{i18n.t('交易类别')}}</td>
                                                <td>{{i18n.t('交易额度')}}</td>
                                                <td>{{i18n.t('状态')}}</td>
                                                <td>{{i18n.t('说明')}}</td>
                                            </tr>
                                            </thead>
                                            <tbody class="betResultOrder" v-cloak>
                                            <tr>
                                                <td colspan="10" class="nodate" height="150">{{i18n.t('暂无数据')}}</td>
                                            </tr>
                                            </tbody>
                                            <tbody class="showBetRecord">
                                            <tr v-for="item in drawDatas" v-cloak>
                                                <td v-cloak>{{item.sourceTime}}</td>
                                                <td v-cloak>{{item.tradeType=0?"在线取款":(item.tradeType=1?"快速取款":"一般取款")}}</td>
                                                <td v-cloak>{{item.amount}}{{coinUnit}}</td>
                                                <td v-cloak>
                                                	 {{item.state==1?'未处理':(item.state==2?'处理中':(item.state==3?'取款成功':(item.state==4?'取款失败':'--')))}}
                                                </td>
                                                <td v-cloak>{{item.info}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="show_2">
                                    <div class="condition row">
                                        <div class="allState col">
                                            <input type="text" placeholder="订单号" id="input_id" v-model="input_id"/>
                                        </div>
                                        <div class="col">
                                        <span id="changeDate" class="type" @click="openType($event,1)"
                                              @mouseout="openType($event,3)" v-cloak>{{dateContent}}<b></b></span>
                                            <ul class="typeContent hide" @mouseover="hoverTypeUl($event,1)"
                                                @mouseout="hoverTypeUl($event,2)">
                                                <li v-for="(item,index) in changeDateContent" :value="index"
                                                    @click="getCondition(2,index,$event)" v-cloak>{{item}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col" id="time" v-cloak>
                                            <span class="btn" id="select" @click="getchangedatas(1)">{{i18n.t('查询')}}</span>
                                        </div>
                                    </div>
                                    <div class="mainList">
                                        <table class="layui-table" lay-even="" lay-skin="nob" style="border: none;"
                                               width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <thead>
                                            <tr class="title">
                                                <td>{{i18n.t('订单号')}}</td>
                                                <td>{{i18n.t('日期')}}</td>
                                                <td>{{i18n.t('交易类别')}}</td>
                                                <td>{{i18n.t('变动前金额')}}</td>
                                                <td>{{i18n.t('变动金额')}}</td>
                                                <td>{{i18n.t('变动后余额')}}</td>
                                                <td>{{i18n.t('备注')}}</td>
                                            </tr>
                                            </thead>
                                            <tbody class="betResultOrder" v-cloak>
                                            <tr>
                                                <td colspan="10" class="nodate" height="150">{{i18n.t('暂无数据')}}</td>
                                            </tr>
                                            </tbody>
                                            <tbody class="showBetRecord">
                                            <tr v-for="item in datas" v-cloak>
                                                <td v-cloak @click="numOrdDetail(item.userId,item.betId,item.type)"><a href="javascript:" style="color: red;text-decoration:underline">{{item.orderId?item.orderId:'----'}}</td>
                                                <td v-cloak>{{item.sourceTime}}</td>
                                                <td v-cloak>{{item.coinOperateType==25?'代理返点':item.coinOperateType}}</td>
                                                <td v-cloak>{{item.coinBefore}}{{coinUnit}}</td>
                                                <td v-cloak>
                                                	<span style="color: forestgreen;"  v-if="item.coinOperateType=='提现'||item.coinOperateType=='投注'||item.coinOperateType=='人工扣除'" >-{{item.coin}}{{coinUnit}}</span>
                                                	<span style="color: #f05618;"  v-else v-cloak>{{item.coin}}{{coinUnit}}</span>
                                                </td>
                                                <td v-cloak>{{item.userCoin}}{{coinUnit}}</td>
                                                <td v-cloak>{{item.info}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <div id="fenye"></div>
                        </div>
                        <div class="clear"></div>
                        <div class="pl_tips">
                                <p>
                                    <i></i>
                                    {{i18n.t('温馨提示')}}：{{i18n.t('交易明细非即时显示')}}，{{i18n.t('可能有')}}5-10{{i18n.t('分钟的延迟')}}，{{i18n.t('请稍等片刻')}}。<br/>
                                    　　　　　{{i18n.t('交易明细最多保留')}}7天。
                                </p>
                        </div>
                    </div>
                </div>

                <!--数字彩订单详情列表-->
                <transition name="transition">
                    <div class="concealDivOrders ordersTwo" style="display: none;">
                        <table class="layui-table" lay-skin="nob" style="word-wrap: break-word; word-break: break-all;">
                            <tr>
                                <td colspan="4"
                                    style="background-color: white;text-align: left;padding-left: 18px;font-weight: bold;">订单详情
                                </td>
                            </tr>
                            <tr>
                                <td>订单号:</td>
                                <td v-cloak>{{ordersTwo.orderId}}</td>
                                <td>彩种:</td>
                                <td v-cloak>{{ordersTwo.gameName}}</td>

                            </tr>
                            <tr style="border-bottom: 1px #E0E0E0 solid;">
                                <td>投注时间:</td>
                                <td v-cloak>{{ordersTwo.actionTime}}</td>
                                <td>期号:</td>
                                <td>{{ordersTwo.actionIssue}}</td>
                            </tr>
                            <tr>
                                <td colspan="4"
                                    style="background-color: white;text-align: left;padding-left: 18px;font-weight: bold;">投注详情
                                </td>
                            </tr>
                            <tbody  style="border-bottom: 1px #E0E0E0 solid;">
                            <tr>
                                <td>投注号码:</td>
                                <td>
                                    <div>{{ordersTwo.actionData}}</div>
                                </td>
                                <td>开奖号码:</td>
                                <td>{{ordersTwo.openNo}}</td>
                            </tr>
                            <tr>
                                <td>{{i18n.t('投注金额')}}:</td>
                                <td>{{ordersTwo.amount}}{{coinUnit}}</td>
                                <td>中奖金额:</td>
                                <td>
                                    <span v-if="ordersTwo.isCal==0">{{i18n.t('未开奖')}}</span>
                                    <span v-else-if="ordersTwo.isCal==1&&ordersTwo.status==0" style="color: green;">{{i18n.t('未中奖')}}</span>
                                    <span v-else-if="ordersTwo.isCal==1&&ordersTwo.status==1" style="color: red;">{{ordersTwo.bonus}}{{coinUnit}}</span>

                                </td>
                            </tr>
                            <tr>
                            
                                <td>投注赔率:</td>
                                <td>{{ordersTwo.betOdds}}倍</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </transition>
            </div>
        </div>
    </section>
    <script src="../public/js/footer.js"></script>
</div>

<script type="text/javascript" src="../public/js/jqPaginator.js"></script>
<script src="js/accountDetails.js"></script>
</body>

</html>