<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>提款</title>
    <link rel="stylesheet" type="text/css" href="css/betrecord.css" />
    <script type="text/javascript" src="../public/js/base.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
    <div>
        <script src="../public/js/header.js"></script>
        <section id="main">
            <div class="wrapper">
                <div id="mainContent" class="clearfix">
                    <!--左边导航-->
                    <nav class="left">
                        <div class="member">
                            <ul>
                                <blockquote class="layui-elem-quote"><span class="iconfont">&#xe643;</span>{{i18n.t('会员中心')}}</blockquote>
                                <li>
                                    <a href="/myCenter/member.html">{{i18n.t('会员中心')}}</a>
                                </li>
                                <li>
                                    <a href="/myCenter/betrecord.html">{{i18n.t('投注记录')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/lotteryrecord.html">{{i18n.t('中奖记录')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/accountDetails.html">{{i18n.t('账变明细')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/userInfo.html">{{i18n.t('账号信息')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/recharge.html">{{i18n.t('充值')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li class="on" v-if="agencyType!=6">
                                    <a href="/myCenter/draw.html">{{i18n.t('提款')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/message.html">{{i18n.t('消息中心')}}</a>
                                    <div class="hr"></div>
                                </li>

                            </ul>
                        </div>
                        <div class="agency" v-if="agencyType==1" v-cloak>
                            <ul>
                                <blockquote class="layui-elem-quote"><span class="iconfont">&#xe65a;</span>{{i18n.t('代理中心')}}</blockquote>
                                <li>
                                    <a href="/agency/agentIntro.html">{{i18n.t('代理说明')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agentReport.html">{{i18n.t('代理报表')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/lowerReport.html">{{i18n.t('下级报表')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/downAccount.html">{{i18n.t('下级开户')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agentMember.html">{{i18n.t('会员管理')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agencyBetDetail.html">{{i18n.t('投注记录')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agencyDealDetail.html">{{i18n.t('交易明细')}}</a>
                                    <div class="hr"></div>
                                </li>
                            </ul>
                        </div>

                    </nav>
                    <!--右边主体内容-->
                    <div class="right" id="draw">
                        <!--顶部用户信息-->
                        <div id="top">
                            <div>
                                <!--账号总览-->
                                <div id="title">
                                    <strong>{{i18n.t('提款金额')}}</strong> <span class="userinfotit">0{{coinUnit}}{{i18n.t('手续费')}}</span>
                                    <span class="yue">{{i18n.t('您当前账户余额')}}<em v-cloak>{{coin}}</em>{{coinUnit}}</span>
                                    <span class="yue">{{i18n.t('返点金额')}}：<em v-cloak>{{agentCoin}}</em>{{coinUnit}}</span>
                                </div>

                                <section id="record" v-cloak>
                                    <nav class="liulcheng">
                                        <div class="liulistbox">
                                            <div class="liulist for-cur"></div>
                                            <div class="liulist"></div>
                                            <div class="liulist"></div>
                                            <div class="liulist"></div>
                                        </div>
                                        <div class="liutextbox">
                                            <div class="liutext for-cur"><em>1</em><br><strong>{{i18n.t('设置取款密码')}}</strong></div>
                                            <div class="liutext"><em>2</em><br><strong>{{i18n.t('完善出款银行信息')}}</strong></div>
                                            <div class="liutext"><em>3</em><br><strong>{{i18n.t('取款')}}</strong></div>
                                            <div class="liutext"><em>4</em><br><strong>{{i18n.t('完成')}}</strong></div>
                                        </div>
                                    </nav>
                                    <div id="navTab">
                                        <div id="show_0">
                                            <div class="draw">
                                                <table>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="2">1. {{i18n.t('密码须由')}}
                                                            <font color="red">6{{i18n.t('个数字')}}(0-9)</font>{{i18n.t('组成')}}。 {{i18n.t('且您的新密码不能和现用的密码相同')}}
                                                            <br> 2. {{i18n.t('提款密码为提款金额时的凭证请会员务必填写详细资料')}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{i18n.t('密码')}}：</td>
                                                        <td colspan="2"><input type="password" placeholder="请输入提款密码" id="coinpwd"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{i18n.t('确认密码')}}：</td>
                                                        <td colspan="2"><input type="password" placeholder="请确认提款密码" id="coinpwdAgain"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="prompt"></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td><input type="button" value="下一步" @click="addCoinPwd()" class="btnSure"></td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="show_1">
                                            <div class="draw">
                                                <table>
                                                    <tr>
                                                        <td>{{i18n.t('真实姓名')}}：</td>
                                                        <td><input type="text" v-model="fullName" id="fullName" placeholder="请输入真实姓名"></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{i18n.t('银行名称')}}：</td>
                                                        <td>
                                                            <select id="bankName" lay-ignore v-model="bankName" style="display: inline-block;border: ;background: none;border: 1px solid #aaa;height: 33px;width: 100%;">
                                                                   <option value="">{{i18n.t('请选择银行名称')}}</option>
                                                                   <option v-for="item in bankList" :value="item">{{item}}</option>
                                                               </select>
                                                      <!-- <el-select-->
                                                      <!--  v-model="bankName"-->
                                                      <!--  filterable-->
                                                      <!--  remote-->
                                                      <!--  :reserve-keyword="true"-->
                                                      <!--  placeholder="请输入银行关键词"-->
                                                      <!--  :remote-method="remoteMethod">-->
                                                      <!--  <el-option-->
                                                      <!--    v-for="item in bankListShow"-->
                                                      <!--    :key="item.itemID"-->
                                                      <!--    :label="item.itemName"-->
                                                      <!--    :value="item.itemID">-->
                                                      <!--  </el-option>-->
                                                      <!--</el-select>-->
                                                       <!-- <select id="bankName" lay-ignore v-model="bankName" style="display: inline-block;border: ;background: none;border: 1px solid #aaa;height: 33px;width: 100%;">
                                                           <option value="">{{i18n.t('请选择银行名称')}}</option>
                                                           <option v-for="item in bankList" :value="item">{{item}}</option>
                                                       </select> -->
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{i18n.t('银行账号')}}：</td>
                                                        <td><input type="text" placeholder="请输入正確的银行账号" v-model="bankAccount" id="bankAccount"></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{i18n.t('开户分行')}}：</td>
                                                        <td><input type="text" v-model="bankAddress" id="bankAddress" placeholder="请输入开户分行"></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="prompt"></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td><input type="button" value="下一步" @click="addBankMes(fullName, bankAccount, bankName, bankAddress)" class="btnSure"></td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="show_2">
                                            <div style="text-align: center;color: gray;border: 1px #E3E3E3 solid;border-radius: 5px;padding: 5px;">
                                                <div v-if="config.onlineCSStatus==1">{{i18n.t('每天的取款处理时间为')}}：<span v-cloak>{{config.onlineCSStartTime}}至{{config.onlineCSEndTime}}</span>;</div>
                                                <div>{{i18n.t('取款1-3分钟内到帐')}}。（{{i18n.t('如遇高峰期')}}，{{i18n.t('可能需要延迟到')}}5-10{{i18n.t('分钟内到帐')}}）</div>
                                                <div><span v-if="config.drawingSumlowerLimit">{{i18n.t('用户每次最小提现')}}<span v-cloak>{{config.drawingSumlowerLimit}}</span>{{coinUnit}}，</span><span v-if="config.drawingSumUpperLimit">{{i18n.t('最大提现')}}<span v-cloak>{{config.drawingSumUpperLimit}}</span>{{coinUnit}}</span>
                                                </div>
                                                <div>{{i18n.t('今日')}}<em v-if="config.drawingCountLimit">{{i18n.t('可取款')}}<span v-cloak>{{config.drawingCountLimit}}</span>次，</em>{{i18n.t('已取款')}}<span v-cloak>{{isTrue.withdrawTimes}}</span>{{i18n.t('次')}}</div>
                                                <div v-cloak v-if="Number(agentCoin)>=config.drawingSumlowerLimit" style="color:red;">{{i18n.t('在返点金额范围内提现，无需打码量')}}</div>
                                            </div>
                                            <div class="draw">
                                                <table>
                                                    <tr>
                                                        <td>{{i18n.t('银行名称')}}：</td>
                                                        <td>{{bankName==null?bankName2:bankName}}</td> 
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{i18n.t('银行卡号')}}：</td>
                                                        <td>{{bankAccount}}</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{i18n.t('提款所需投注量')}}：</td>
                                                        <td>{{isTrue.withdrawNeedSum}}{{coinUnit}}</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{i18n.t('已达投注量')}}：</td>
                                                        <td>{{isTrue.betsum}}{{coinUnit}}</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{i18n.t('请输入提款金额')}}：</td>
                                                        <td><input type="text" id="cash" pattern placeholder="请输入提款金额" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{i18n.t('请输入提款密码')}}：</td>
                                                        <td><input type="password" v-model="pwd" pattern placeholder="请输入提款密码"></td>
                                                        <td></td>
                                                    </tr>
                                                    <!-- <tr v-if="userInfoList">
                                                    <td>
                                                        <div class="typeWay">
                                                            <div>
                                                                <span>验证方式- <select name="" id="" v-model="is_wqf" v-show="is_wqf!=4" style="padding: 5px 10px;">
                                                                    <option value="1" v-if="userInfoList.WEIXIN">{{i18n.t('微信')}}</option>
                                                                    <option value="2" v-if="userInfoList.QQ">QQ</option>
                                                                    <option value="3" v-if="userInfoList.PHONE_NUMBER">{{i18n.t('手机号')}}</option>
                                                                </select> ：</span>
                                                            </div>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="text" v-model="wqf_num" class="input_wqf">
                                                    </td>
                                                </tr> -->
                                                    <tr>
                                                        <td></td>
                                                        <td class="prompt"></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td><input type="button" value="下一步" @click="draw()" class="btnSure"></td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="show_3">
                                            <div class="draw">
                                                <div><img src="images/success.jpg" />{{i18n.t('提交成功')}}！</div>
                                                <a @click="choose_nav(2)" style="color: blue;text-decoration: underline;cursor: pointer;">{{i18n.t('继续取款')}}</a>
                                            </div>
                                        </div>
                                    </div>

                                </section>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="../public/js/footer.js"></script>
    </div>

    <script type="text/javascript" src="../public/js/md5.js"></script>
    <script src="js/draw.js"></script>
</body>

</html>