<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>中奖记录</title>
    <link rel="stylesheet" type="text/css" href="css/lotteryrecord.css"/>
    <script type="text/javascript" src="../public/js/base.js"></script>
</head>

<body>
<div>
    <script src="../public/js/header.js"></script>
    <section id="main">
        <div class="wrapper">
            <div id="mainContent" class="clearfix">
                <!--左边导航-->
                <nav class="left">
                        <div class="member">
                            <ul>
                                <blockquote class="layui-elem-quote"><span class="iconfont">&#xe643;</span>{{i18n.t('会员中心')}}</blockquote>
                                <li>
                                    <a href="/myCenter/member.html">{{i18n.t('会员中心')}}</a>
                                </li>
                                <li>
                                    <a href="/myCenter/betrecord.html">{{i18n.t('投注记录')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li class="on">
                                    <a href="/myCenter/lotteryrecord.html">{{i18n.t('中奖记录')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/accountDetails.html">{{i18n.t('账变明细')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/userInfo.html">{{i18n.t('账号信息')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/recharge.html">{{i18n.t('充值')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li v-if="agencyType!=6">
                                    <a href="/myCenter/draw.html">{{i18n.t('提款')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/myCenter/message.html">{{i18n.t('消息中心')}}</a>
                                    <div class="hr"></div>
                                </li>
                    
                            </ul>
                        </div>
                        <div class="agency" v-if="agencyType==1" v-cloak>
                            <ul>
                                <blockquote class="layui-elem-quote"><span class="iconfont">&#xe65a;</span>{{i18n.t('代理中心')}}</blockquote>
                                <li>
                                    <a href="/agency/agentIntro.html">{{i18n.t('代理说明')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agentReport.html">{{i18n.t('代理报表')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/lowerReport.html">{{i18n.t('下级报表')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/downAccount.html">{{i18n.t('下级开户')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agentMember.html">{{i18n.t('会员管理')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agencyBetDetail.html">{{i18n.t('投注记录')}}</a>
                                    <div class="hr"></div>
                                </li>
                                <li>
                                    <a href="/agency/agencyDealDetail.html">{{i18n.t('交易明细')}}</a>
                                    <div class="hr"></div>
                                </li>
                            </ul>
                        </div>
                    
                    </nav>
                <!--右边主体内容-->
                <div class="right">
                    <!--会员信息--头部-->
                    <div class="summary">
                        <div class="welcome">{{i18n.t('您好')}}：<strong class="userName red" id="userName"> </strong>&nbsp;{{i18n.t('账号余额')}}：<span
                                class="red coin" id="coin11">0.00</span>{{coinUnit}}<span class="btn recharge"><a
                                href="recharge.html">{{i18n.t('充值')}}</a></span><span
                                class="btn withdrawal" v-if="agencyType!=6"><a href="draw.html">{{i18n.t('提款')}}</a></span></div>
                        <div class="clear"></div>
                    </div>
                    <!--账号总览-->
                    <div class="memberMsg ">
                        <div class="title">
                            <div><strong>{{i18n.t('账户总览')}}</strong></div>
                        </div>
                        <div class="content">
                            <ul class="clearfix" v-cloak>
                                <li class="xz_Coin">{{i18n.t('下注总额')}}: <span class="red" v-cloak>{{coinAvg.betAmount}}</span>{{coinUnit}}</li>
                                <li class="lottery_Coin">{{i18n.t('中奖总额')}}: <span class="red" v-cloak>{{coinAvg.prizeAmount}}</span>{{coinUnit}}</li>
                                <li class="profit_loss">{{i18n.t('盈亏')}}: <span class="red" v-cloak>{{coinAvg.winLose}}</span>{{coinUnit}}</li>
                            </ul>
                        </div>
                    </div>
                    <!--中奖记录-->
                    <div class="lotteryRecord">
                        <div class="title"><strong>{{i18n.t('中奖记录')}}</strong></div>
                        <div class="clear"></div>
                        <div class="content">
                            <div class="filter">
                                <ul class="clearfix">
                                    <li v-cloak>
                                    <span id="allType" class="type" @click="openType($event,1)"
                                          @mouseout="openType($event,3)" v-cloak>{{typeContent}}<b></b></span>
                                        <ul class="typeContent hide" @mouseover="hoverTypeUl($event,1)"
                                            @mouseout="hoverTypeUl($event,2)">
                                            <li v-for="(item,index) in allTypeContent" :value="index"
                                                @click="getCondition(0,index,$event,item.gameId)" v-cloak>{{item.gameName}}
                                            </li>
                                        </ul>
                                    </li>
                                    <li v-cloak>
                                    <span id="changeDate" class="type" @click="openType($event,1)"
                                          @mouseout="openType($event,3)" v-cloak>{{dateContent}}<b></b></span>
                                        <ul class="typeContent hide" @mouseover="hoverTypeUl($event,1)"
                                            @mouseout="hoverTypeUl($event,2)">
                                            <li v-for="(item,index) in changeDateContent" :value="index"
                                                @click="getCondition(1,index,$event)" v-cloak>{{item}}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="mainList">
                                <table class="layui-table" lay-even="" lay-skin="nob" width="100%" cellspacing="0"
                                       cellpadding="0" border="0">
                                    <thead>
                                    <tr class="title">
                                        <td>{{i18n.t('订单号')}}</td>
                                        <td>{{i18n.t('期号')}}</td>
                                        <td>{{i18n.t('投注日期')}}</td>
                                        <td>{{i18n.t('彩种')}}</td>
                                        <td>{{i18n.t('玩法')}}</td>
                                        <td>{{i18n.t('投注金额')}}</td>
                                        <td>{{i18n.t('中奖金额')}}</td>
                                        <td>{{i18n.t('状態')}}</td>
                                        <td>{{i18n.t('查看')}}</td>
                                        <td>{{i18n.t('撤单')}}</td>
                                    </tr>
                                    </thead>
                                    <tbody id="betResultOrder" v-cloak>
                                    <tr>
                                        <td colspan="10" class="nodate" height="150">{{i18n.t('暂无数据')}}
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody id="showBetRecord">
                                    <tr v-for="item in datas" v-cloak>
                                        <td><span @click="selectHH(item.betId,item.type)" id="orderId" v-cloak>{{item.orderId}}</span></td>
                                        <td v-cloak>{{item.actionIssue}}</td>
                                        <td v-cloak>{{item.sourceTime}}</td>
                                        <td v-cloak>{{item.gameName}}</td>
                                        <td v-cloak>{{item.groupName}}<span v-if="item.type>4">-{{item.playedName}}</span></td>
                                        <td v-cloak>{{item.amount}}{{coinUnit}}</td>
                                        <td style="color: red;" v-cloak>{{item.bonus}}<span v-if="item.type!=2">{{coinUnit}}</span></td>
                                        <td v-cloak>{{item.status}}</td>
                                        <td v-cloak><button class="layui-btn layui-btn-mini" @click="selectHH(item.betId,item.type)">{{i18n.t('查看')}}</button></td>
                                        <td><button class="layui-btn-disabled layui-btn-mini" v-if="item.status!=='成功'" style="width: 36px;">{{i18n.t('撤单')}}</button><button class="layui-btn layui-btn-mini" @click="cancleOrd(item.betId)" v-else>{{i18n.t('撤单')}}</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div id="fenye"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--订单详情列表-->
        <transition name="transition">
            <div id="ordersOne">
                <div class="concealDivOrders ordersOne" style="display: none;">
                    <table class="layui-table" lay-skin="nob" v-cloak>
                        <tr>
                            <td colspan="4" style="background-color: white;text-align: left;padding-left: 18px;font-weight: bold;">{{i18n.t('订单详情')}}
                            </td>
                        </tr>
                        <tr>
                            <td>{{i18n.t('订单号')}}:</td>
                            <td v-cloak>{{orders.orderId}}</td>
                            <td>{{i18n.t('出票状態')}}:</td>
                            <td v-cloak>{{orders.ticketStatus==0?"出票中":"出票成功"}}</td>
                        </tr>
                        <tr style="border-bottom: 1px #E0E0E0 solid;">
                            <td>{{i18n.t('预计奖金')}}:</td>
                            <td v-cloak>{{orders.expectBonuses}}{{coinUnit}}</td>
                            <td>
                                <span v-if="orders.show==true">{{i18n.t('期号')}}:</span>
                                <span v-else>{{i18n.t('投注方式')}}:</span>
                            </td>
                            <td>
                                <span v-if="orders.show==true" v-cloak>{{orders.actionNo}}</span>
                                <span v-else v-cloak>{{orders.betType}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background-color: white;text-align: left;padding-left: 18px;font-weight: bold;">{{i18n.t('投注详情')}}
                            </td>
                            <td colspan="2" style="text-align: right;padding-right: 16px;text-decoration: underline;color: gray;cursor: pointer;" @click="getTicket(orders.betId,orders.type)">
                                {{i18n.t('出票明细')}}
                            </td>
                        </tr>
                        <tbody v-for="item in ordersById" style="border-bottom: 1px #E0E0E0 solid;">
                            <tr>
                                <td>{{i18n.t('投注项')}}:</td>
                                <td v-cloak>
                                    {{item.homeTeamName}}　vs　{{item.awayTeamName}}
                                    <span v-if="item.guts==1" class="isDan">{{i18n.t('胆')}}</span>
                                </td>
                                <td>{{i18n.t('竞猜项')}}:</td>
                                <td>
                                    <span v-if='item.guessList&&item.guessList.length>0' v-cloak>
                                        <span v-for="gus in item.guessList" style="margin-right: 5px;display: inline-block;">
                                            <span style="color: red;" v-if="gus.quizResults==1" v-cloak>{{gus.quizName}}{{gus.letScore}}
                                                <span v-if="!orders.show&&gus.odds" v-cloak>({{gus.odds}})</span>
                                            </span>
                                            <span v-else v-cloak>{{gus.quizName}}{{gus.letScore}}
                                                <span v-if="!orders.show&&gus.odds" v-cloak>({{gus.odds}})</span>
                                            </span>
                                        </span>

                                    </span>
                                    <span v-else>--</span>
                                </td>
                            </tr>
                            <tr>
                                <td>{{i18n.t('比分')}}:</td>
                                <td>
                                    <span v-if="item.courtScore!=null" v-cloak>{{item.courtScore}}</span>
                                    <span v-else>--</span>
                                </td>
                                <td>{{i18n.t('赛果')}}:</td>
                                <td>
                                    <span v-if='item.resultList&&item.resultList.length>0' v-cloak>
                                        <span v-for="res in item.resultList" style="margin-right: 5px;display: inline-block;">
                                            <span style="color: red;" v-if="res.quizResults==1" v-cloak>{{res.quizName}}</span>
                                            <span v-else v-cloak>{{res.quizName}}</span>
                                        </span>
                                    </span>
                                    <span v-else>--</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </transition>
        <transition>
        	<div class="ticket" style="display: none;">
        		<section id="ticketDetailsStr" v-if="nowType==2">
					<table  class="layui-table" lay-skin="nob">
						<tr>
							<td v-for="item in ticketDetailsStr" v-cloak>
								{{item}}
							</td>
						</tr>
					</table>
				</section>
				<section id="ticDetails" v-else>
					<table  class="layui-table" lay-skin="nob">
						<thead>
							<tr>
								<th width="15%">{{i18n.t('过关')}}</th>
								<th width="15%">{{i18n.t('倍数')}}</th>
								<th width="70%">{{i18n.t('票面信息')}}</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item,index) in ticketDetailsList">
								<td v-cloak>{{item.seriesName}}</td>
								<td v-cloak>{{item.times}}倍</td>
								<td v-cloak>
									<span v-for="items in ticketDetailsList[index].list" v-cloak class="list">
										<em class="fenge">/</em>{{items.matchDate}}<span v-if="items.matchSessions!=null" v-cloak>({{items.matchSessions}})</span>
										<span v-if="items.quizOptions!=null" v-cloak>:[{{items.quizOptions}}<span v-if="items.odds!=null" v-cloak>={{items.odds}}</span>]</span>
									</span>
								</td>
							</tr>
						</tbody>
						
					</table>
				</section>
        	</div>
        </transition>
        <!--彩票订单详情列表-->
        <transition name="transition">
            <div class="concealDivOrders ordersTwo" style="display: none;">
                <table class="layui-table" lay-skin="nob"  style="word-wrap: break-word; word-break: break-all;">
                    <tr>
                        <td colspan="4"
                            style="background-color: white;text-align: left;padding-left: 18px;font-weight: bold;">{{i18n.t('订单详情')}}
                        </td>
                    </tr>
                    <tr>
                        <td>{{i18n.t('订单号')}}:</td>
                        <td v-cloak>{{ordersTwo.orderId}}</td>
                        <td>{{i18n.t('彩种')}}:</td>
                        <td v-cloak>{{ordersTwo.gameName}}</td>
                        
                    </tr>
                    <tr style="border-bottom: 1px #E0E0E0 solid;">
                        <td>{{i18n.t('投注时间')}}:</td>
                        <td v-cloak>{{ordersTwo.actionTime}}</td>
                        <td>{{i18n.t('期号')}}:</td>
                        <td>{{ordersTwo.actionIssue}}</td>
                    </tr>
                    <tr>
                        <td colspan="4"
                            style="background-color: white;text-align: left;padding-left: 18px;font-weight: bold;">{{i18n.t('投注详情')}}
                        </td>
                    </tr>
                    <tbody  style="border-bottom: 1px #E0E0E0 solid;">
                    <tr>
                        <td>{{i18n.t('投注号码')}}:</td>
                        <td v-cloak>{{ordersTwo.actionData}}
                        </td>
                        <td>{{i18n.t('开奖号码')}}:</td>
                        <td>{{ordersTwo.openNo}}
                        </td>
                    </tr>
                    <tr>
                        <td>{{i18n.t('投注金额')}}:</td>
                        <td>{{ordersTwo.amount}}{{coinUnit}}</td>
                        <td>{{i18n.t('中奖金额')}}:</td>
                        <td>
                        	<span v-if="ordersTwo.isCal==0">{{i18n.t('未开奖')}}</span>
                        	<span v-else-if="ordersTwo.isCal==1&&ordersTwo.status==0" style="color: green;">{{i18n.t('未中奖')}}</span>
                        	<span v-else-if="ordersTwo.isCal==1&&ordersTwo.status==1" style="color: red;">{{ordersTwo.bonus}}{{coinUnit}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>{{i18n.t('投注赔率')}}:</td>
                        <td>{{ordersTwo.betOdds}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </transition>
    </section>
    <script src="../public/js/footer.js"></script>
</div>

<script type="text/javascript" src="../public/js/jqPaginator.js"></script>
<script src="js/lotteryrecord.js"></script>
</body>

</html>