<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>加载中...</title>
    <link rel="stylesheet" href="css/xync.css" />
    <script type="text/javascript" src="../public/js/base.js"></script>
</head>

<body>
<script src="../public/js/header.js"></script>
  <div class="game-bg">
<section id="cqssc-container" @click="hide_dd">
    <div class="cqssc-header">
    	<div class="countdown">
    		<ul style="display: flex;align-items: center;">
    			<li class="icon"><img :src="'../'+pic_url"></li>
    			<li><h2 class="title" v-cloak>{{typeName}}</h2></li>
    			<div class="welcome" style="padding: 8px 40px;">账号余额: <span id="coin11" class="red coin" style="font-size: 20px;" v-cloak>{{pack_coin}}</span>元</div>
    		</ul>
    	</div>
    	<div class="trendOpenBtn" style="display: flex;align-items: center;">
    		<div style="margin: 0 15px;" @click="collectFn" v-cloak><i :class="['iconfont',isCollect==1?'coll_succ':'coll_fail']">{{(isCollect==1?'&#xe666;':'&#xe7ce;')}}</i></div>
    		<a style="margin: 0 15px;" @click="togoChart(oneTypeId)">开奖走势</a>
    		<a style="margin: 0;" @click="togoSkip(oneTypeId)">开奖详情</a>
    		<!--<div class="video" onclick="videoFn('https://kj.kai861.com/view/video/fc3DVideo/index.html?10041?www.1680380.com')" v-if="oneTypeId == 5">-->
    		<!--    <img src="/images/video.jpg" />-->
    		<!--</div>-->
    		<div class="video" onclick="videoFn('https://kj.kai861.com/view/video/fc3DVideo/index.html?10043?www.1680380.com')" v-if="oneTypeId == 19">
    		    <img src="/images/video.jpg" />
    		</div>
    	</div>
    </div>
    <header style="display: flex;justify-content: space-between;align-items: center;">
		<div style="text-align: center;">
			<div style="font-size: 20px;color: #f00;" v-if="preventBanner" v-cloak>
				第{{preventBanner}}期
			</div>
            <div class="time" v-if="!isNaN(preventBanner)">
                <span v-cloak>距投注截止 还剩下:</span>
            </div>
            <div class="time" v-else>
                <span v-cloak>{{preventBanner}}</span>
            </div>
		</div>
		<div class="countdown">
			<span v-cloak v-html="deadlineStr" v-if="deadlineStr" :class="[deadlineStr == '封盘' || deadlineStr == '暂停销售' ? 'red' : '']">{{deadlineStr}}</span>
		</div>
        <p class="banner_num">
            <span v-if="previousIssue_tips" style="font-size: 1.5rem;color: red;">开奖中...</span>
            <span v-else-if="recentlyNum.length==0" style="font-size: 1.5rem;color: red;">数据获取中...</span>
		    <a v-if="previousIssue_tips" href="javascript:;" class="refresh" @click="refresh"><i class="iconfont" style="font-size: 15px;color: #f67620">&#xe667;</i></a>
        </p>
		<div class="record" style="padding-left: 0;">
            <ul class="layui-nav" lay-filter="" v-if="history.length > 0">
              <li class="layui-nav-item banner_num">
                <a href="javascript:;" class="lucky-nav-box" v-if="history.length > 0" onclick="showRecord()" v-cloak>第{{history[0]['issue']}}期<span class="r_bage" v-for="item in history[0].recentlyNum" v-cloak v-if="history.length > 0">{{item}}</span></a>
                <dl class="record-box"> 
                  <dd v-for="val in history" v-if="history.length > 0" v-cloak><a href="javascript:;">第{{val.issue}}期<span class="r_bage" v-for="item in val.recentlyNum" v-cloak v-if="history.length > 0">{{item}}</span></a></dd>
                </dl>
              </li>
            </ul>
		</div>
	</header>
    <div class="main">
        <nav id="nav" class="play_choice">
            <div class="tab clearfix" v-cloak>
                <ul>
                    <li v-for="(item,index) in menu" :class="index==0?'active':''" @click="switchover_play(index,0)">
                        <a href="javascript:;">{{item.oneType}}</a>
                    </li>
                </ul>
            </div>
            <div class="playList clearfix" v-cloak>
                <ul>
                    <li v-for="(item,index) in menu" :class="index==0?'active':''">
                        <div  class="radio_group" v-for="(items,indexs) in item.twoType" @click="switchover_play(index,indexs)" :class="indexs==0?'active':''">
                            {{items.name3}}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="mainArea">
            <div class="playArea">
                <div class="title">
                    <span v-cloak>玩法说明：{{game_tips}}</span>
                </div>
                <div class="area">
                    <!-- 投注区域 -->
                    <div class="bets_one">
                        <header class="topTitle" v-cloak><h2>{{present_title}}</h2></header>
                        <!-- 万位 -->
                        <!--<div class="first_area clearfix" v-if="presentAreaList[0]==1" v-cloak>
                          <span class="leftTitle">{{firstArea_title}}</span>
                          <div class="numberList">
                            <span  :class="['circle',{'sel':item.isSel}]" v-for="(item,index) in myriabit" @click="handleAddClass(item,index,0)">{{item.num}}</span>
                          </div>
                          <div class="btnList">
                            <div class="draw_menu">
                              <p>{{ranNumList[0]}}
                                <b class="bage"></b>
                              </p>
                              <ul>
                                <li v-for="(item,index) in myriabit" @click="changeRandomNum(0,index+1)">{{index+1}}</li>
                              </ul>
                            </div>
                            <span class="btn" @click="randomNum(0,0)">机选</span>
                            <span class="btn" @click="randomNum(0,1)">全选</span>
                          </div>
                        </div>-->
                        <!-- 千位 -->
                        <!--<div class="first_area clearfix" v-if="presentAreaList[0]==1" v-cloak>
                          <span class="leftTitle">千位</span>
                          <div class="numberList">
                            <span :class="['circle',{'sel':item.isSel}]" v-for="(item,index) in kilobit" @click="handleAddClass(item,index,0)">{{item.num}}</span>
                          </div>
                          <div class="btnList">
                            <div class="draw_menu">
                              <p>{{ranNumList[0]}}
                                <b class="bage"></b>
                              </p>
                              <ul>
                                <li v-for="(item,index) in kilobit" @click="changeRandomNum(0,index+1)">{{index+1}}</li>
                              </ul>
                            </div>
                            <span class="btn" @click="randomNum(0,0)">机选</span>
                            <span class="btn" @click="randomNum(0,1)">全选</span>
                          </div>
                        </div>-->
                        <!-- 百位 -->
                        <div class="first_area clearfix" v-if="presentAreaList[0]==1" v-cloak>
                            <span class="leftTitle">百位</span>
                            <div class="numberList">
                                <span :class="['circle',{'sel':item.isSel}]" v-for="(item,index) in hundreds" @click="handleAddClass(item,index,0)">{{item.num}}</span>
                            </div>
                            <div class="btnList">
                                <div class="draw_menu">
                                    <p v-cloak>{{ranNumList[0]}}
                                        <b class="bage"></b>
                                    </p>
                                    <ul>
                                        <li v-cloak v-for="(item,index) in hundreds" @click="changeRandomNum(0,index+1)">{{index+1}}</li>
                                    </ul>
                                </div>
                                <span class="btn" @click="randomNum(0,0)">机选</span>
                                <span class="btn" @click="randomNum(0,1)">全选</span>
                            </div>
                        </div>
                        <!-- 十位 -->
                        <div class="second_area clearfix" v-if="presentAreaList[1]==1" v-cloak>
                            <span class="leftTitle">十位</span>
                            <div class="numberList">
                                <span :class="['circle',{'sel':item.isSel}]" v-for="(item,index) in decade" @click="handleAddClass(item,index,1)">{{item.num}}</span>
                            </div>
                            <div class="btnList">
                                <div class="draw_menu">
                                    <p v-cloak>{{ranNumList[1]}}
                                        <b class="bage"></b>
                                    </p>
                                    <ul>
                                        <li v-for="(item,index) in decade" @click="changeRandomNum(1,index+1)" v-cloak>{{index+1}}</li>
                                    </ul>
                                </div>
                                <span class="btn" @click="randomNum(1,0)">机选</span>
                                <span class="btn" @click="randomNum(1,1)">全选</span>
                            </div>
                        </div>
                        <!-- 个位 -->
                        <div class="third_area clearfix" v-if="presentAreaList[2]==1" v-cloak>
                            <span class="leftTitle">个位</span>
                            <div class="numberList">
                                <span :class="['circle',{'sel':item.isSel}]" v-for="(item,index) in unit" @click="handleAddClass(item,index,2)">{{item.num}}</span>
                            </div>
                            <div class="btnList">
                                <div class="draw_menu">
                                    <p v-cloak>{{ranNumList[2]}}
                                        <b class="bage"></b>
                                    </p>
                                    <ul>
                                        <li v-for="(item,index) in unit" @click="changeRandomNum(2,index+1)" v-cloak>{{index+1}}</li>
                                    </ul>
                                </div>
                                <span class="btn" @click="randomNum(2,0)">机选</span>
                                <span class="btn" @click="randomNum(2,1)">全选</span>
                            </div>
                        </div>
                        <!-- 公用 -->
                        <div class="common clearfix" v-if="presentAreaList[3]==1" v-cloak>
                            <span class="leftTitle">{{commonArea_title}}</span>
                            <div class="numberList" :style="commonArea_title?'margin: 0 0 0 30px;float:left;':''">
                                <span :class="['circle',{'sel':item.isSel}]" v-for="(item,index) in numberArr" @click="handleAddClass(item,index,3)">{{item.num}}</span>
                            </div>
                            <div class="btnList">
                                <div class="draw_menu">
                                    <p v-cloak>{{ranNumList[3]}}
                                        <b class="bage"></b>
                                    </p>
                                    <ul v-if="present_playId == 438||present_playId == 444||present_playId == 445||present_playId == 448">
                                        <li v-for="(item,index) in numberArr" @click="changeRandomNum(3,index+2)" v-cloak>{{index+2}}</li>
                                    </ul>
                                    <ul v-else-if="present_playId == 439">
                                        <li v-for="(item,index) in numberArr" @click="changeRandomNum(3,index+3)" v-cloak>{{index+3}}</li>
                                    </ul>
                                    <ul v-else>
                                        <li v-for="(item,index) in numberArr" @click="changeRandomNum(3,index+1)" v-cloak>{{index+1}}</li>
                                    </ul>
                                </div>
                                <span class="btn" @click="randomNum(3,0)">机选</span>
                                <span class="btn" @click="randomNum(3,1)">全选</span>
                            </div>
                        </div>
                        <!-- 显示区域 -->
                        <div class="bets_two ">
                            <div class="betsMsg " v-cloak>
                                共
                                <span class="red ">{{bets}}</span> 注
                                <span class="red ">{{parseFloat(bets*singleCoins).toFixed(2)}}</span> {{coinUnit}} 单注
                                <input type="text " @click.stop="dianji" v-model="singleCoins" @keyup="handleCoins" maxlength="6" class="betSum ">{{coinUnit}}
                                <span class="clearTopBtn " @click="clearSelectData(0,0)">清空上方选号</span>
                                <span class="odds"  v-cloak> 赔率:<em :title='orderOdds' class="orderOdds">{{orderOdds}}</em></span>
                                <!-- <span id="odds">{{orderOdds}}</span> -->
                                <!-- <input class="range" type="range" max="100" min="0" v-model="rebateNum" @input="changeRebate">
                                <span class="rebate">返利:{{rebate}}%</span> -->
                                <div class=" ">
                                    <span class="addBtn " @click="handleConfirm">选好了</span>
                                </div>
                            </div>
						<div style="ceng" class="ceng" v-show="show_dd">
    					    <div class="box">
    					        <h1 style="text-align:center;padding: 15px 0;">点击选择金额:</h1>
                                <ul>
                                    <li v-for="(item, inx) in testNumber" :key="inx" @click="select_money(item)" v-cloak><span>{{item}}</span></li>
                                </ul>
                            </div>
    					</div>
                        </div>

                        <!-- 投注列表 -->
                        <div class="order_group ">
                            <div class="orderList " v-cloak>
                                <div class="bets_item line clearfix" v-for="(item,index) in BetsList" v-cloak>
                                    <div class="bets_type">
                                        {{item.type}}

                                    </div>
                                    <div class="bets_info">
                                        {{item.betsClause}}
                                    </div>
                                    <span> 共
                                        <em class="red">{{item.betsCount}}</em>注，共
                                        <em class="red">{{item.betsCoins}}</em>{{coinUnit}}
                                        <!--{{item.odds}}倍-->
                                    </span>
                                    <span class="close" @click="clearSelectData(1,index)">
                                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAQlBMVEUAAADm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ubm5ub////4+Piqqqrv7++ZmZn09PTy8vKurq7k5OSvr6+ck+3yAAAADHRSTlMA6ZP5xldMEICt7IGlbHDtAAAAu0lEQVQoz4WT2w6DIAxAKfcptSLu/391ks4Vo1nPE+kJUGhrhGg9OAfeRnMjZaCK5QArQU5XG2ArAxuE0VrCcgHJin1RuUEv2VseOPcHtncfuk2Azxqh55855/2Nv3jbOf98aOBYWxf82mVtvAJjIp3B7mXRoWhsLYMX26nWeCyjZ3tGPF8tXixf7srFdys4RSuHK6kpD9O+xUz/PlVK0h5KohRUaQelmZRWVBpZHwMmzZMM0TQnwygj+AE2iSHIyezfBgAAAABJRU5ErkJggg==" alt="" srcset="">
                                    </span>
                                </div>

                            </div>
                            <div class="btns_item line" v-if="BetsList.length==0"></div>
                            <!--<div class="list-footer"></div>-->
                            <div class="btnList ">
                                <span class="btn " @click="randomBets(1,0)">机选添加</span>
                                <span class="btn " @click="clearSelectData(2,0)">清空列表</span>
                            </div>
                        </div>
                    </div>
                    <!-- 投注信息 -->
                    <!--<div class="bet_group">
                     <div class="bet_info">

                       <div class="sum">共<span class="red">0</span>注 共<span class="red">0</span>{{coinUnit}}</div>
                       <div class="periods">
                         <input type="text"> 期(最大10期) <span class="circle"></span> 中奖后停止追号
                       </div>

                     </div>
                   </div>
                 </div> -->
                    <div class="betsSum">
                        <div class="betMsg" v-cloak>
                            共
                            <span class="red">{{totalBets*(continue_periods?parseInt(continue_periods):'')}}</span>注 共
                            <span class="red">{{totalCoins}}</span>{{coinUnit}}&nbsp;&nbsp;&nbsp;
                            <!--<input type="text" maxlength="2" v-model="continue_periods" @keyup="handleChase" @blur="continue_periods?'':continue_periods=1"> 期(最大10期)&nbsp;&nbsp;&nbsp;-->
                            <!--<span :class="['circle',{'active':after_no&&continue_periods!=1},{'gray':continue_periods==1}]" @click="after_no==0?after_no=1:after_no=0"></span> <span :class="continue_periods==1?'gray':''">中奖后停止追号</span>-->
                        </div>
                        <div class="btnList">
                            <div class="submitBtn" @click="handleBets">
                                立即投注
                            </div>
                        </div>
                    </div>


                    <div id="betMesTips" class="tips hide" v-cloak>
                        <div class="tips_wrap"></div>
                        <div class="content">
                            <div class="tips_title">提示</div>
                            <span class="tips_close">
						<a href="javascript:;" @click="closeTips($event,tipsContent.showSecond)"></a>
					</span>

                                <div class="tips_content" v-cloak>
                                    <div class="tips_msg">{{tipsContent.tzState}}</div>
                                    <div class="tips_second" v-if="tipsContent.showSecond">{{tenSecond}}秒后{{tipsContent.showSecond==2?"自动跳转到充值页面":"自动刷新本页"}}</div>
                                    <a class="tips_errorBtn"  v-if="tipsContent.showSecond==2" href="../myCenter/recharge.html">直接前往</a>
                                <div class="tips_errorBtn" v-if="tipsContent.showSecond&&tipsContent.showSecond!=2"
                                     @click="closeTips($event,tipsContent.showSecond)">返回
                                </div>
                                    <ul class="tips_msgContent" v-if="tipsContent.tzType">
                                        <li>投注类型：{{tipsContent.tzType}}</li>
                                        <li>投注注数：{{tipsContent.tzNum}}注</li>
                                        <li>投注金额：{{tipsContent.tzMoney+coinUnit}}</li>
                                        <li>剩余金额：{{tipsContent.lastCoin+coinUnit}}<a href="../myCenter/betrecord.html">前往查看</a></li>
                                        <li>{{tenSecond}}秒后自动刷新本页</li>
                                    </ul>
                                    <div class="btnList" v-if="!tipsContent.showSecond">
                                        <span class="goCenter"><a href="../myCenter/betrecord.html">前往会员中心查看</a></span><span class="continue"><a href="javascript:;" @click="closeTips($event,3)">继续投注</a></span>
                                    </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>
</section>
</div>
</section>
<script src="../public/js/footer.js "></script>
<script src="../public/js/bettingCountUtils.js "></script>
<script src="js/threed.js"></script>
</body>

</html>